.home {
    &__inner {
        margin: 0 auto;
    }

    &__title {
        margin-bottom: 20px;

        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }

    &__content {
    }

    &__items {
        display: flex;
        flex-direction: column;
    }

    &__item {
        display: flex;
        flex-direction: column;
    }

    &__item_title {
    }

    &__chart {
    }
}
