.header {
    border: 1px solid var(--color-bg-border);

    &__inner {
        height: 68px;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__app {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        column-gap: 6px;
        align-items: center;
    }
}
